.offer-modal-select-wrapper {
  display: flex;
  gap: 1rem;
}

.offer-modal-date-wrapper {
  display: flex;
  gap: 1rem;
}

.radio-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 768px) {
  .offer-modal-select-wrapper,
  .offer-modal-date-wrapper {
    display: block;
  }
}
