.offer-modal-header {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.offer-modal-header h2 {
  font-family: "Poppins-Medium";
  font-size: 1.5rem;
  line-height: 2rem;
}

.offer-modal-header p {
  margin-top: 0.25rem;
  color: rgb(75 85 99);
}

.offer-modal-select-wrapper {
  display: flex;
  gap: 1rem;
}

.offer-modal-date-wrapper {
  display: flex;
  gap: 1rem;
}

.radio-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 768px) {
  .offer-modal-select-wrapper,
  .offer-modal-date-wrapper {
    display: block;
  }
}
