.patricipant-block-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.participants-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.participant-block-info p {
  font-size: 0.75rem;
  color: rgb(75 85 99);
}
