.warning-modal-wrapper {
  text-align: center;
}

.warning-modal-wrapper p {
  color: rgb(55 65 81);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.warning-icon {
  margin-top: 2rem;
}

.warning-btn-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
