.user-stats-wrapper {
  margin-top: 1.5rem;
}

.user-stats-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
  gap: 1rem;
}

.user-card-stats-wrapper {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card-stats-wrapper span {
  font-family: Poppins-SemiBold;
  font-size: 1.5rem;
}

.user-card-stats-wrapper p {
  color: rgb(75 85 99);
}
