
.multiselect-demo .p-multiselect {
  min-width: 15rem;
  display: inline-flex;
  position: relative;
  user-select: none;
}

.p-multiselect .p-multiselect-label {
  padding: 0.75rem 0.75rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-multiselect-panel .p-multiselect-header {
  padding: 0.75rem 1.25rem;

  border-bottom: 1px solid #dee2e6;

  color: #343a40;
  background: #f8f9fa;

  margin: 0;
  gap: 1rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.p-multiselect-filter-container {
  position: relative;
  flex: 1 1 auto;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
  padding:0.25rem 1.75rem 0.25rem 0.25rem;
}

.p-multiselect-filter-icon {
  position: absolute;
  top: 50%;
  margin-top: -.5rem;
}

.p-multiselect-panel .p-multiselect-items {
  padding: 0.75rem 0;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 0 none;
  color: #495057;
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
  display: flex;
  gap: 0.5rem;
}

.p-multiselect-checkbox { 
  display: flex;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: #4b5563;
  background: #f3f4f6;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #4338CA;
  background: #EEF2FF;
}
