.invitation-card-tag-wrapper {
  display: flex;
  justify-content: space-between;
}

.invitation-card-block {
  display: flex;
  gap: 5px;
}

.invitation-btn-wrapper {
  display: flex;
  gap: 10px;
}
