.banner {
  width: 100%;
  background-image: linear-gradient(to bottom right, #2e73e0, #463cf7, #7e00e6);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner-headline {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50rem;
  margin-top: 120px;
}

.banner-headline h1 {
  font-size: 3.75rem;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  font-family: Poppins-SemiBold;
}

.banner-headline h1:nth-child(2) {
  color: rgb(103 232 249);
}

.headline-description {
  width: 45rem;
  margin-top: 16px;
}

.headline-description p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(219 234 254);
  text-align: center;
}

.banner-btn-section {
  display: flex;
  margin-top: 16px;
  width: 40rem;
  align-items: center;
  justify-content: space-evenly;
}

.banner-features-wrapper {
  display: flex;
  margin: auto;
  gap: 10px;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 80px;
}
