.user-panel-section-wrapper {
  max-width: 80rem;
  margin: auto;
  min-height: 1000px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.nav-user-menu-option {
  padding: 1rem;
}

.inactive-nav-user-menu-option {
  background-color: red;
}

.active-nav-user-menu-option {
  background-color: green;
}
