.filter-wrapper {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
  margin-top: 2rem;
}

.filter-headline-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-headline {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-headline h3 {
  font-family: "Poppins";
}

.filter-simple-container,
.advanced-filter-level-dates,
.advanced-filter-people-sorting {
  display: flex;
}

.filter-btn-wrapper {
  display: flex;
  gap: 1rem;
}
