.null-component-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.null-component-wrapper p {
  color: rgb(75 85 99);
}

.null-component-wrapper h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.null-icon-bg {
  border-radius: 99999px;
  background-color: rgb(219 234 254);
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
