.user-detailed-meta-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.user-detailed-meta-wrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-detailed-wrapper {
  display: flex;
  border-bottom: 1px rgb(243 244 246) solid;
  padding-bottom: 1.5rem;
}

.user-detailed-meta-wrapper p,
.user-detailed-description-wrapper p {
  color: rgb(75 85 99);
}

.user-detailed-section {
  width: 50%;
}

.user-detailed-section h3 {
  margin-bottom: 1rem;
}
