.user-detailed-meta-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.user-detailed-meta-wrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-detailed-wrapper {
  display: flex;
  border-bottom: 1px rgb(243 244 246) solid;
  padding-bottom: 1.5rem;
  gap: 1.5rem;
}

.user-detailed-meta-wrapper p,
.user-detailed-description-wrapper p {
  color: rgb(75 85 99);
}

.user-detailed-section {
  width: 50%;
}

.user-detailed-section h3 {
  margin-bottom: 1rem;
}

.user-detailed-cards-wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-detailed-background {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px rgb(243 244 246) solid;
  border-radius: 0.75rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
