@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
    url(/fonts/Poppins-SemiBold.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url(/fonts/Poppins-Medium.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url(/fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

#root {
  overflow-x: hidden;
}

.container,
.profile-container,
.offer-container {
  background-color: rgba(249, 250, 251, 1);
  height: 100vh;
}
