.select-wrapper {
  position: relative;
}

.select-wrapper span {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 0.75rem;
  left: 0.75rem;
}

.standard-select {
  border-radius: 0.5rem;
  border: 1px rgb(209 213 219) solid;
  padding: 0.625rem 1rem 0.625rem 1rem;
  text-transform: none;
}

.standard-select-with-icon {
  padding: 0.625rem 1rem 0.625rem 2.5rem;
}

.standard-select:focus {
  border: 2px #3b82f6 solid;
}

.select-error {
  border: 1px red solid;
  background-color: #fee2e2;
}

.select-error-text {
  color: red;
  font-size: 0.875rem;
}
