.offer-page-section-container {
  max-width: 60rem;
  margin: auto;
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid rgb(243, 244, 246);
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-bottom: 2rem;
}
