.offerTag {
  font-size: 0.875rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 99999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-sport {
  background-color: rgb(255, 255, 255, 0.2);
  color: #fff;
}

.offer-any {
  display: flex;
  gap: 5px;
  color: rgb(31 41 55);
  background-color: rgb(255, 255, 255, 1);
  border: 1px solid rgb(229, 231, 235);
}

.offer-public,
.offer-private {
  display: flex;
  gap: 5px;
}

.offer-public {
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.4);
}

.offer-private {
  background-color: rgba(0, 0, 0, 0.15);
  color: #e5e7eb;
  border-color: rgba(255, 255, 255, 0.1);
}

.offer-beginner,
.offer-intermediate,
.offer-expert {
  display: flex;
  gap: 5px;
  border-width: 1px;
  border-style: solid;
}

.offer-beginner {
  background-color: rgb(220 252 231);
  color: rgb(22 101 52);
  border-color: rgb(187 247 208);
}

.offer-intermediate {
  background-color: rgb(254 249 195);
  color: rgb(133 77 14);
  border-color: rgb(254 240 138);
}

.offer-expert {
  background-color: #fee2e2;
  color: #b91c1c;
  border-color: #fecaca;
}
