.tag {
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 99999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sport {
  background-color: rgb(219 234 254);
  color: rgb(30 64 175);
}

.beginner,
.accepted {
  background-color: rgb(220 252 231);
  color: rgb(22 101 52);
  display: flex;
  gap: 5px;
}

.intermediate,
.pending {
  color: rgb(133 77 14);
  background-color: rgb(254 249 195);
  display: flex;
  gap: 5px;
}

.expert,
.rejected {
  background-color: #fee2e2;
  color: #b91c1c;
  display: flex;
  gap: 5px;
}

.any {
  background-color: rgb(243 244 246);
  color: rgb(31 41 55);
  display: flex;
  gap: 5px;
}

.open {
  background-color: #b2ebf2;
  color: #006064;
}

.closed {
  background-color: #efebe9;
  color: #5d4037;
}
