.edit-input-wrapper {
  display: flex;
  gap: 5px;
}
.edit-input-icon {
  display: flex;
  justify-content: center;
  margin-top: 9px;
}

.edit-input {
  border: none;
  border-bottom: 2px rgb(59 130 246) solid;
  line-height: 2rem;
}

.edit-input:focus {
  outline: none;
  border-bottom: 2px #4f46e5 solid;
}

.edit-input-error {
  border-bottom: 2px red solid;
}

.input-error-text {
  font-size: 0.875rem;
  color: red;
}
