.input-wrapper {
  position: relative;
}

.input-wrapper span {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 27.5%;
  left: 0.75rem;
}

.standard-input {
  padding: 0.625rem 1rem 0.625rem 1rem;
  border-radius: 0.5rem;
  border: 1px rgb(209 213 219) solid;
}

.standard-input-with-icon {
  padding: 0.625rem 1rem 0.625rem 2.5rem;
}

.input-error {
  border: 1px red solid;
}
