.user-offer-card-wrapper {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px rgb(243 244 246) solid;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.user-offer-card-wrapper:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-color: #bfdbfe;
  transform: translateY(-0.25rem);
  cursor: pointer;
}

.user-offer-card-wrapper:hover h3 {
  color: #1976d2;
}

.user-offer-card-wrapper h3 {
  margin-top: 1rem;
}

.user-offer-card-info-wrapper {
  display: flex;
  margin-top: 2rem;
}

.user-offer-card-info-wrapper div {
  display: flex;
  gap: 5px;
  width: 40%;
}

.user-offer-card-tag-wrapper {
  display: flex;
  justify-content: space-between;
}
