.input-field-wrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 0.875rem;
  color: rgb(75 85 99);
  margin-bottom: 5px;
  line-height: 1.25rem;
}

.input-info-wrapper {
  display: flex;
  gap: 0.5rem;
}
