.page-title-wrapper h1 {
  font-family: "Poppins-SemiBold";
  color: rgb(17 24 39);
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.page-title-wrapper p {
  color: rgb(75 85 99);
  margin-top: 0.5rem;
}
