.message-section-wrapper {
  display: flex;
  max-width: 80rem;
  margin: 2rem auto 2rem auto;
  height: calc(100vh - 250px);
  box-shadow: 0 6px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  overflow: hidden;
}
