button {
  cursor: pointer;
}

.loginButton {
  padding: 5px;
}

.modalCloseButton {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  border: none;
}

.loginSwitchButton {
  background-color: #fff;
  border: none;
  color: rgb(37 99 235);
}

.loginSwitchButton:hover {
  color: rgb(24, 65, 153);
  text-decoration: underline;
}

.createOfferButton {
  background-color: #fff;
  border: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(37 99 235);
  gap: 5px;
  font-family: "Poppins-SemiBold";
}

.createOfferButton:hover {
  background: #fff;
  color: #2563eb;
  box-shadow: 0 8px 32px 0 rgba(37, 99, 235, 0.18);
  border: 2px solid #2563eb;
  letter-spacing: 1px;
  transform: translateY(-2px) scale(1.05) rotate(-1deg);
  transition: all 0.22s cubic-bezier(0.4, 0, 0.2, 1);
}

.outlineButton {
  gap: 5px;
  font-family: "Poppins-SemiBold";
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border: 2px #fff solid;
  background-color: transparent;
  color: #fff;
}

.outlineButton:hover {
  background: #2563eb;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(37, 99, 235, 0.18);
  letter-spacing: 1px;
  transform: translateY(-2px) scale(1.05) rotate(1deg);
  transition: all 0.22s cubic-bezier(0.4, 0, 0.2, 1);
}
