.standard-textarea {
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: 1px solid rgb(209 213 219);
  border-radius: 0.5rem;
  resize: none;
}

.textarea-error {
  border: 1px red solid;
}

.additional-info-textarea {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: rgb(75 85 99);
}

.textarea-error-text {
  color: red;
}

.word-counter {
  margin-left: auto;
  white-space: nowrap;
}
