.user-header-wrapper {
  margin-bottom: 1.5rem;
}

.user-header-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.user-header-detailed-wrapper {
  display: flex;
  gap: 1rem;
}

.user-header-email {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(75 85 99);
}

.user-header-email-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-btn-edit-wrapper {
  display: flex;
  gap: 1rem;
}
