.user-header-wrapper {
  margin-bottom: 1.5rem;
}

.user-header-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.user-header-avatar {
  background: linear-gradient(to right, #3b82f6, #4f46e5);
  height: 5rem;
  width: 5rem;
  border-radius: 999999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-header-detailed-wrapper {
  display: flex;
  gap: 1rem;
}

.user-header-email {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(75 85 99);
}

.user-header-email-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-btn-edit-wrapper {
  display: flex;
  gap: 1rem;
}
