.user-header-wrapper {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px rgb(243 244 246) solid;
  border-radius: 0.75rem;
}

.user-header-banner {
  height: 12rem;
  background-image: linear-gradient(to bottom right, #3b82f6, #4f46e5, #7e22ce);
  border-radius: 0.75rem 0.75rem 0 0;
}

.user-header-info-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 2rem 0rem 2rem;
  bottom: 3.5rem;
}

.user-header-detailed-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.user-header-email {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(75 85 99);
}

.user-header-email-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-btn-edit-wrapper {
  display: flex;
  gap: 1rem;
}

.avatar-white-bg {
  background-color: #fff;
  border-radius: 999999px;
  height: 8.75rem;
  width: 8.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 #0000, 0 0 #0000, var(0 0 #0000, 0 0 #0000),
    0 10px 15px -3px rgb(0 0 0 / 0.1);
}
